:root {
    --app-height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: Verdana, "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    width: 100vw;
    background-color: black;

    height: var(--app-height);
    min-height: var(--app-height);
    max-height: var(--app-height);
}


.camera {
    transform: scaleX(-1);
}
